<!DOCTYPE HTML>
<html>

<head>
	<title>home_user</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/front.css">
</head>

<body class="base">
	<h2><a href="/login">Welcome!</a></h2>
	
	<div class="span4 offset8 signin-align">
        <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
	</div>
	<form action="/search" method="get">
		<textarea id="searchbox" placeholder="Search #foodpoints by keyword" name="keyword"></textarea>
		<input type="submit" id="go" value="Go">
	</form>
	{% block content %}{% endblock %}
<body>


</html>
