{% extends "base.html" %}
{% block content %}

<html>
<head>
	<link type="text/css" rel="stylesheet" href="../stylesheets/front.css">
	<title> foodPoint view all my entries so far </title>
</head>

<body>
<table class="table table-bordered table-striped">
        <thead>
        <tr>
			<th>Picture</th>
            <th>Name of #foodPoint</th>
            <th>Address</th>
            <th>Cuisine</th>
			<th>Rating</th>
			<th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
				<td><div><img src="/img?img_id={{ item.key.urlsafe() }}" width="180" height="100"></img></div></td>
				<td>{{ item.food_name }}</td>
                <td>{{ item.address }} </td> 
                <td>{{ item.cuisine }} </td>
                <td>{{ item.rating }} <br></td>
				<td><br><form action="/deleteitem" method="post">
                        <input type="hidden" name="itemid" value="{{ item.item_id }}">
                        <input type="submit" value="Delete">
                    </form></td>
				
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
