{% extends "base.html" %}
{% block content %}

<h4>Search Results</h4>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name of #foodPoint</th>
            <th>Address</th>
            <th>Cuisine</th>
			<th>Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.food_name }}<br>
				</td>
                <td>{{ item.address }} </td> 
                <td>{{ item.cuisine }} </td>
                <td>{{ item.rating }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
