h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
#search{
	border: 3px solid #2ECCFA;
	float:right;
	position: relative;
	left: 160px;
	bottom: 19px;
	border-radius: 5px;
	background-color: ;
	height: 20px;
	width: 250px;
}
#search p{
	position: relative;
	bottom: 13px;
	left: 3px;
	font-size: 1em;
	font-weight: bold;
	color: #2ECCFA;
	text-align: left;
}

#login{
	float:right;
	position: relative;
	left: 50px;
	bottom: 15px;
	height: 5px;
	width: 120px;
}

div span {
	float: right;
	position: relative;
	left: -95px;
	bottom: -6px;
}

label {
    display: block;
    margin-bottom: 20px;
}
