h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

#login{
	float:right;
	position: relative;
	left: 50px;
	bottom: 15px;
	height: 5px;
	width: 120px;
}

div span {
	float: right;
	position: relative;
	left: -95px;
	bottom: -6px;
}

label {
    display: block;
    margin-bottom: 20px;
}

#list{
	position: relative;
	margin-left: 200px;
}
#searchbox{
	position: relative;
	width: 247px; 
	height: 15px;
	outline: 2px solid #2ECCFA;
	float: right;
	left: 155px;
	bottom: 19px;	
}
#go{
	position:absolute;
	float: right;
	left: 888px;
	bottom: 589px;	
	}
